* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --primary-color: #ff4500;
  --text-heading: #000;
  --sub-heading: #666;
  --bg-color: #fff;
  --shadow-color: rgba(100, 100, 111, 0.2);
  --gray-color: #ccc;
  --white-color: #fff;
  --height-dashboard: 480px;
}

/* css dark mode */
[data-theme="dark"] {
  --primary-color: #ff4500;
  --text-heading: #fff;
  --sub-heading: #ccc;
  --bg-color: #2d333b;
  --shadow-color: rgba(160, 160, 175, 0.2);
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.app {
  background-color: var(--bg-color);
}

.dashboard {
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 1px 8px var(--shadow-color);
  background: var(--bg-color);
}

.heading {
  font-size: 12px;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}

.song-playing {
  text-align: center;
  font-weight: 500;
}

.song-playing .name {
  font-size: 16px;
  color: var(--text-heading);
}

.song-playing .author {
  font-size: 12px;
  color: var(--sub-heading);
  font-style: italic;
  font-weight: 400;
}

.cd {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  position: relative;
  border: 1px solid var(--text-heading);
  overflow: hidden;
  border-radius: 100%;
}

.cd__circle-1 {
  position: absolute;
  width: 22%;
  height: 22%;
  border: 5px solid var(--text-heading);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.cd__circle-2 {
  position: absolute;
  width: 14%;
  height: 14%;
  border: 10px solid var(--text-heading);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.cd-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: var(--gray-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 30px;
  overflow: hidden;
}

.input-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 14px;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--primary-color);
  box-shadow: -800px 0 0 790px var(--primary-color);
  cursor: pointer;
  height: 14px;
  width: 14px;
  background: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 50%;
  transition: 0.2s ease;
}

.input-range::-moz-range-thumb {
  background: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: 50%;
  box-shadow: -800px 0 0 790px var(--primary-color);
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time p {
  font-size: 14px;
  color: var(--sub-heading);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.control-btn {
  font-size: 20px;
  color: var(--sub-heading);
  padding: 10px 20px;
  cursor: pointer;
}

.control-btn:active {
  color: var(--primary-color);
}

.control-btn.active {
  color: var(--primary-color);
}

.control-btn#play {
  font-size: 25px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 50%;
  padding: 12px 16px;
}

.control-btn#play .fa-play,
.control-btn#play.active .fa-pause {
  display: block;
}

.control-btn#play .fa-pause,
.control-btn#play.active .fa-play {
  display: none;
}

.volume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.volume-type {
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: var(--primary-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.volume-type.high .mute,
.volume-type.high .low,
.volume-type.low .mute,
.volume-type.low .high,
.volume-type.mute .low,
.volume-type.mute .high {
  display: none;
}

.input-range#volume-input {
  flex: 1;
  width: auto;
  height: 12px;
  margin: 0 12px;
}

.volume-number {
  color: var(--sub-heading);
  font-size: 14px;
  min-width: 55px;
}

/* Playlist section */

.playlist {
  margin-top: calc(var(--height-dashboard) + 30px);
  padding: 0 16px;
}

.playlist h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-heading);
}

.divided {
  border-bottom: 1px solid var(--box-shadow-color);
  margin: 16px 0px;
}

.song-item {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 4px var(--shadow-color);
  border-radius: 10px;
  padding-right: 16px;
  overflow: hidden;
  margin-bottom: 12px;
}

.song-item:active {
  background-color: var(--primary-color);
  opacity: 0.8;
  color: var(--white-color);
}
.song-item:active .info p {
  color: var(--white-color);
}

.song-item.active {
  background-color: var(--primary-color);
}

.song-item img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.song-item .info {
  padding: 8px 12px;
  flex: 1;
}

.song-item .info h5 {
  font-size: 16px;
  color: var(--text-heading);
}

.song-item .info p {
  color: var(--sub-heading);
  font-size: 12px;
}

.song-item.active .info p,
.song-item.active .info h5 {
  color: var(--white-color);
}

/* css waves music animation */
.music-waves {
  width: 40px;
}

.waves {
  display: none;
  position: relative;
  height: 30px;
  width: 100%;
}

.waves.active {
  display: block;
}

.wave {
  background: var(--white-color);
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
}

.wave.play {
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.35;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 28px;
  }
}

.wave:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.wave:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.wave:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.wave:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.wave:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
.wave:nth-child(6) {
  left: 21px;
  animation-duration: 427ms;
}
.wave:nth-child(7) {
  left: 25px;
  animation-duration: 441ms;
}
.wave:nth-child(8) {
  left: 29px;
  animation-duration: 419ms;
}
.wave:nth-child(9) {
  left: 33px;
  animation-duration: 487ms;
}
.wave:nth-child(10) {
  left: 37px;
  animation-duration: 442ms;
}

/* Switch chuyển theme */

.theme-switch-wrapper {
  position: absolute;
  top: 18px;
  left: 10px;
}

.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 45px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: transparent;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  content: "☀️";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: var(--white-color);
  background-color: var(--text-heading);
  position: absolute;
  bottom: 4px;
  left: 4px;
  height: 15px;
  width: 15px;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: transparent;
}

input:checked + .slider::before {
  content: "🌙";
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
  border: 1px solid var(--sub-heading);
}

.slider.round::before {
  border-radius: 50%;
}
